# .NET
**/bin/
**/obj/
*.user
.vs/
*.csproj.user
.vscode/
appsettings.Development.json
# Go
**/vendor/

# Python
**/__pycache__/
**/venv/
**/.env

# Secrets
services/secrets/*.json

# General
.DS_Store
*.env
*.suo