# .NET
**/bin/
**/obj/
*.user
.vs/
*.csproj.user
.vscode/
appsettings.Development.json
# Go
**/vendor/
services/notification-service/notification-service
services/notification-service/notification-service.exe
services/api-gateway/api-gateway
services/api-gateway/api-gateway.exe

# Python
**/__pycache__/
**/venv/
**/.env

# Secrets
services/secrets/*.json

# General
.DS_Store
*.env
*.suo